.recommended-movie {
  padding: 25px 0;
  margin: 25px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-movie__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.recommended-movie__introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInPhoto {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateX(-450px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes appearTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.recommended-movie__photo {
  width: 200px;
  width: 200px;
  border-radius: 15px;
  margin-bottom: 5px;
  transform: translateX(-450px);
  animation: fadeInPhoto 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

.recommended-movie__introduce span {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: appearTitle 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.6;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}

.open-post__members-status {
  color: #ffb0e0;
  font-size: 14px;
}

.open-post__photo {
  position: relative;
}

@keyframes extendPhoto {
  from {
    transform: none;
  }
  to {
    transform: translateX(-150px) translateY(-75px) scale(2);
  }
}

.open-post__photo:hover {
  animation: extendPhoto 0.5s ease-in-out forwards;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
