.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel,
.friends-screen__birthday,
.friends-screen__friend {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header,
.friends-screen__birthdy-header,
.friends-screen__friend-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
    transform: rotateZ(360deg) scale(0.5);
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    transform: translateY(-500px) scale(0.3);
    visibility: hidden;
  }
}

#splash-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  animation: hideSplashScreen 0.7s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 100%;
  height: 100%;
}
