.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions,
.more-news {
  border-top: var(--main-border);
  margin-top: 50px;
  padding-top: 40px;
}

.more-suggestions__title,
.more-news__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.more-suggestions__icon {
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

@keyframes fadeInRightIcon {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.more-suggestions__icon:first-child {
  animation: fadeInRightIcon 0.3s ease-in-out forwards;
}

.more-suggestions__icon:nth-child(2) {
  animation: fadeInRightIcon 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

.more-suggestions__icon:nth-child(3) {
  animation: fadeInRightIcon 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}

.more-suggestions__icon:last-child {
  animation: fadeInRightIcon 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}

.more-suggestions__icon-image {
  width: 70px;
  height: 70px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 35px;
  color: white;
}

.more-suggestions__icon-text {
  font-size: 16px;
  color: black;
}

.more-news__content span:first-child {
  font-weight: 1000;
}
